<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | Proje Adı</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css">
    
</head>
<body class="hold-transition login-page">

    @RenderBody()

    <partial name="_Scripts" />
</body>
</html>