<!DOCTYPE html>
<html lang="tr">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (Model is ISeoEnabledViewModel seoModel && seoModel.SeoInfo != null)
    {
        @await Component.InvokeAsync("Seo", new { seoData = seoModel.SeoInfo })
    }
    else
    {
        <title>YourProjectName</title>
    }

    <partial name="Partials/Styles"/>
    <partial name="Partials/GoogleTagManager" model='"head"' />
</head>
<body>
    <partial name="Partials/GoogleTagManager" model='"body"' />
    <partial name="Partials/Header" />

    @if (IsSectionDefined("Hero"))
    {
        <div class="full-viewport-hero">
            @await RenderSectionAsync("Hero")
        </div>
    }
    <main role="main">
        @RenderBody()
    </main>

    <partial name="Partials/Footer" />
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
